<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find Aragog)/urdf/Aragog.urdf -urdf -model Aragog
    -X 0 
    -y 0
    -Z 0
    -R 0
    -P 0
    -Y 0
    -J middle_revolute 0
    -J left_revolute 0
    -J right_revolute 0"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  
  <arg name="model" default="$(find Aragog)/urdf/Aragog.urdf"/>
  <param name="robot_description" command="cat '$(find Aragog)/urdf/Aragog.urdf'"/>

  <include 
    file ="$(find Aragog_control)/launch/Aragog_control.launch"/>
   
</launch>
